/**
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 */

.cu-character-creation__race-select, .cu-character-creation__class-select, .cu-character-creation__attribute-select {
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  background: url('../images/temp.jpg');
  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
  }
}

.cu-character-creation__race-select_name {
  position: absolute;
  left: 350px;
  z-index: 2;
}

.gender-btn {
  width: 125px;
  margin: 5px;
  -webkit-user-select: none;
  cursor: pointer !important;
  padding: 10px 20px;
  font-weight: 700;
  text-align: center;
  background: $gradient2;
  border: solid $colorg2 1px;
  color: $color1;
  transition: all .2s ease-in-out;
  &:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
  &:active {
    background-color: rgba(255, 200, 100, 0.15);
  }
  &:disabled {
    opacity: .5;
  }
}

.selected {
  background: $gradient4;
  border: solid $colorg4 1px;
  color: $colorg4;
  &:hover {
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
  }
}


@mixin race-thumbnail($url) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 50px;
  height: 45px;
  margin: 2.5px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: all .2s ease-in-out;
  &:hover {
    border: 1px solid rgba(255,225,78,0.50);
  }
  &:active {
    border: 1px solid rgba(255,225,78,0.80);
  }
}

@mixin race-standing($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
  flex-grow: 1;
}

.cu-character-creation__race-select__selection-area, .cu-character-creation__class-select__selection-area, .cu-character-creation__attribute-select__selection-area {
  position: absolute;
  z-index: 10;
  background: $sidebar-bg;
  border-width: 1px;
  border-image: $gradient-border;
  border-image-slice: 1;
  width: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 10px;
  h6 {
    width: 100%;
    text-transform: uppercase;
  }
  color: #e2e2e2;
}

.cu-character-creation__race-select__text {
  color: #e2e2e2;
  overflow-y: auto;
  margin-top: 20px;
  height: 300px;
  min-width: 100%;
  border: 1px solid rgba(70, 70, 70, 0.78);
  padding: 5px;
}

.cu-character-creation__race-select__PICT__thumbnail {
  @include race-thumbnail('../images/temp.jpg');
}

.cu-character-creation__race-select__LUCHORPAN__thumbnail {
  @include race-thumbnail('../images/races/thumbnail/luchorpan.jpg');
}

.cu-character-creation__race-select__VALKYRIE__thumbnail {
  @include race-thumbnail('../images/races/thumbnail/valkyrie.jpg');
}

.cu-character-creation__race-select__HUMANMALEV__thumbnail {
  @include race-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-vik.png');
}

.cu-character-creation__race-select__HUMANMALEA__thumbnail {
  @include race-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-m-art.png');
}

.cu-character-creation__race-select__HUMANMALET__thumbnail {
  @include race-thumbnail('../images/races/thumbnail/humanmalet.jpg');
}

.cu-character-creation__race-select__HUMANFEMALEV__thumbnail {
  @include race-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-vik.png');
}

.cu-character-creation__race-select__HUMANFEMALEA__thumbnail {
  @include race-thumbnail('https://s3.amazonaws.com/camelot-unchained/character-creation/character/icons/icon_humans-f-art.png');
}

.cu-character-creation__race-select__HUMANFEMALET__thumbnail {
  @include race-thumbnail('../images/races/thumbnail/humanmalet.jpg');
}


// -------

.cu-character-creation__race-select__view-area {
  flex-grow: 1;
  display: flex;
  z-index: 1;
  padding-left: 300px;
}

.cu-character-creation__race-select__view-area__HAMADRYAD {
  @include race-standing('../images/races/standing/hamadryad.png');
}

.cu-character-creation__race-select__view-area__LUCHORPAN {
  @include race-standing('../images/races/standing/luchorpan.png');
}

.cu-character-creation__race-select__view-area__FIRBOG {
  @include race-standing('../images/races/standing/firbog.png');
}

.cu-character-creation__race-select__view-area__VALKYRIE {
  @include race-standing('../images/races/standing/valkyrie.png');
}

.cu-character-creation__race-select__view-area__HELBOUND {
  @include race-standing('../images/races/standing/helbound.png');
}

.cu-character-creation__race-select__view-area__FROSTGIANT {
  @include race-standing('../images/races/standing/frostgiant.png');
}

.cu-character-creation__race-select__view-area__STRM {
  @include race-standing('../images/races/standing/strm.png');
}

.cu-character-creation__race-select__view-area__CAITSITH {
  @include race-standing('../images/races/standing/caitsith.png');
}

.cu-character-creation__race-select__view-area__GOLEM {
  @include race-standing('../images/races/standing/golem.png');
}

.cu-character-creation__race-select__view-area__STORMRIDERT {
  @include race-standing('../images/races/standing/stormridert.png');
}

.cu-character-creation__race-select__view-area__STORMRIDERA {
  @include race-standing('../images/races/standing/stormridera.png');
}

.cu-character-creation__race-select__view-area__STORMRIDERV {
  @include race-standing('../images/races/standing/stormriderv.png');
}

.cu-character-creation__race-select__view-area__HUMANMALEV {
  @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-vik.png');
}

.cu-character-creation__race-select__view-area__HUMANMALEA {
  @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-m-art.png');
}

.cu-character-creation__race-select__view-area__HUMANMALET {
  @include race-standing('../images/races/standing/humans.png');
}

.cu-character-creation__race-select__view-area__HUMANFEMALEV {
  @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-vik.png');
}

.cu-character-creation__race-select__view-area__HUMANFEMALEA {
  @include race-standing('https://s3.amazonaws.com/camelot-unchained/character-creation/character/humans-f-art.png');
}

.cu-character-creation__race-select__view-area__HUMANFEMALET {
  @include race-standing('../images/races/standing/humans.png');
}

