

@media (max-width: 900px) {
    body {
        zoom: 90%;
    }
}

@media (min-width: 1600px) {
    body {
        zoom: 110%;
    }
}

@media (min-width: 1900px) {
    body {
        zoom: 130%;
    }
}
